/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); */
@import "keen-slider/keen-slider.min.css";
@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/SFPRODISPLAYBLACKITALIC.OTF") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/SFPRODISPLAYHEAVYITALIC.OTF") format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/SFPRODISPLAYLIGHTITALIC.OTF") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/SFPRODISPLAYMEDIUM.OTF") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/SFPRODISPLAYSEMIBOLDITALIC.OTF") format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/SFPRODISPLAYTHINITALIC.OTF") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../assets/fonts/SFPRODISPLAYULTRALIGHTITALIC.OTF")
    format("opentype");
  font-weight: 200;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark);
  font-family: "SF Pro Display", sans-serif;
}
:root {
  --dark: #2d2d2d;
  --white: #eeeeee;
  --green: #00c717;
  --red: #ff223f;
  --gray: #1a1a1a;
  --red-gradient-linear: linear-gradient(45deg, #ff0f2f, #ff5b20);
  --vignette: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.9) 100%
  );
  --white-opacity-5: rgba(238, 238, 238, 5%);
  --white-opacity-10: rgba(238, 238, 238, 10%);
  --white-opacity-20: rgba(238, 238, 238, 20%);
  --white-opacity-30: rgba(238, 238, 238, 30%);
  --white-opacity-40: rgba(238, 238, 238, 40%);
  --white-opacity-50: rgba(238, 238, 238, 50%);
  --white-opacity-60: rgba(238, 238, 238, 60%);
  --white-opacity-70: rgba(238, 238, 238, 70%);
  --white-opacity-80: rgba(238, 238, 238, 80%);
  --white-opacity-90: rgba(238, 238, 238, 90%);
  --white-gray: rgba(238, 238, 238, 0.7);
  --dark-opacity-5: rgba(30, 30, 30, 5%);
  --dark-opacity-10: rgba(30, 30, 30, 10%);
  --dark-opacity-20: rgba(30, 30, 30, 20%);
  --dark-opacity-30: rgba(30, 30, 30, 30%);
  --dark-opacity-40: rgba(30, 30, 30, 40%);
  --dark-opacity-50: rgba(30, 30, 30, 50%);
  --dark-opacity-60: rgba(30, 30, 30, 60%);
  --dark-opacity-70: rgba(30, 30, 30, 70%);
  --dark-opacity-80: rgba(30, 30, 30, 80%);
  --dark-opacity-90: rgba(30, 30, 30, 90%);
  --gray-2: #262626;
  --blue: #0a84ff;
}

.background-glow-center-green {
  width: 200px;
  height: 200px;
  background-color: var(--blue);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* центрирует по обеим осям */
  z-index: -2;
  opacity: 0.2;
}
.background-glow-center-red {
  width: 200px;
  height: 200px;
  background-color: var(--red);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* центрирует по обеим осям */
  z-index: -2;
  opacity: 0.2;
}
.background-blur-100 {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
  backdrop-filter: blur(100px);
  background-color: rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
}
.body-backdrop {
  position: absolute; /* 👈 fixed — чтобы не зависело от родителя */
  top: 0;
  left: 0;
  width: 99vw;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  transition: 0.4s ease-in-out;
  filter: blur(200px); /* можешь включить для эффекта */
  opacity: 0.5; /* можешь настроить */
}

.scroll-info {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 1rem;
}
@media (max-width: 1650px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (max-width: 1200px) {
  .explorer-library-grid {
    grid-template-columns: 1fr 1fr 1fr; /* Две колонки на планшетах */
  }
  .collection-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  /* .video-card-container {
    max-height: 500px;
  } */
  .playback-controls-container {
    width: 800px;
  }
  .header-menu {
    align-items: center;
    justify-content: center;
  }
  /* .video-card-preview-wrapper {
    height: 160px;
  } */
}
.row-header-title {
  font-size: 18px;
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .continue-overlay {
    -webkit-mask-image: linear-gradient(to right, black 20%, transparent 100%);
    mask-image: linear-gradient(to right, black 20%, transparent 100%);
  }
  .continue_description {
    max-width: 400px;
  }
}

@media (max-width: 900px) {
  /* .video-card-container {
    max-height: 450px;
  } */
  .playback-controls-container {
    width: 700px;
  }
  .continue-title {
    font-size: 32px;
  }
}

@media (max-width: 850px) {
  .movie-modal {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0px;
  }

  /* .video-card-preview-wrapper {
    height: 130px;
  } */
}

@media (max-width: 800px) {
  .player-container {
    max-width: 1185px;
    max-height: 600px;
    width: 100%;
    aspect-ratio: 9 / 16;
  }
  .playback-controls-container {
    width: 600px;
  }
  .explorer-library-grid {
    grid-template-columns: 1fr 1fr;
  }
  .collection-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  /* .video-card-container {
    max-height: 400px;
  } */

  .continue-title {
    font-size: 28px;
  }
}

@media (max-width: 600px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .movie-modal__header-details {
    margin-left: 16px;
    margin-right: 16px;
  }
  .movie-modal__details {
    padding-left: 16px;
    padding-right: 16px;
  }
  .explorer-library-grid {
    grid-template-columns: 1fr 1fr; /* Две колонки на планшетах */
  }

  .playback-controls-container {
    width: 500px;
  }
  .continue-title {
    font-size: 28px;
  }
}
@media (max-width: 680px) {
  header {
    display: block;
  }
  .header-menu {
    justify-content: space-between;
    margin-bottom: 12px;
  }
  .hdrezka-header-input-container {
    width: 100%;
  }
  .body-backdrop {
    max-height: 800px;
    filter: blur(80px);
  }
  .continue-overlay {
    -webkit-mask-image: linear-gradient(to top, black 20%, transparent 100%);
    mask-image: linear-gradient(to top, black 20%, transparent 100%);
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.415) 100%,
      transparent 100%
    );
  }
  .continue-info {
    flex-direction: column-reverse;
  }

  .continue-content-bottom {
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 40px;
  }
  .continue-content {
    justify-content: space-between;
  }
  .continue-sub_title {
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
  }
  .continue_description {
    display: none;
  }
  .continue-sub_title {
    font-size: 14px;
  }
  .movie-modal__details {
    border-radius: 16px;
  }
  .continue-volume-btn {
    top: 16px;
    right: 16px;
    bottom: auto;
  }
  .continue-container.unmuted {
    height: 480px;
  }
  .continue-container.unmuted .youtube-player {
    transform: scale(2.5);
  }
}
@media (max-width: 550px) {
  .explorer-library-grid {
    grid-template-columns: 1fr 1fr; /* Две колонки на планшетах */
  }

  .movie-modal__description {
    -webkit-line-clamp: 8;
  }
  .playback-controls-container {
    width: 400px;
  }
  .continue-title {
    font-size: 24px;
    text-align: center;
  }

  .continue-overlay {
    -webkit-mask-image: linear-gradient(to top, black 10%, transparent 100%);
    mask-image: linear-gradient(to top, black 10%, transparent 100%);
  }
}

@media (max-width: 580px) {
  .youtube-player {
    transform: scale(2.8);
  }
}
@media (max-width: 500px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .movie-modal__header-details {
    margin-left: 16px;
  }
  .movie-modal__details {
    padding-left: 16px;
    padding-right: 16px;
  }
  .movie-modal__title {
    font-size: 24px;
  }
  .device-selector-container {
    display: none;
  }
  .playback-controls-container {
    width: 350px;
  }
  .continue-content-bottom {
    margin-bottom: 32px;
  }

  .video-card-container-explorer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    align-items: center;
  }

  .explorer-library-grid {
    grid-template-columns: 1fr;
    gap: 24px 0px;
  }
  .video-card-meta {
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
    height: 100%;
    justify-content: center;
    margin: 0;
    width: 100%;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
  }
  .video-card-title {
    width: 100%;
    -webkit-line-clamp: 2;
  }
  .video-card-video-duration {
    white-space: wrap;
    -webkit-line-clamp: 2;
  }
  .video-card-preview-image {
  }
}

@media (max-width: 530px) {
  .explorer_watch-history .swiper-slide {
    width: 200px !important; /* или через JS, как выше */
    /* Можно задать min-width / max-width по необходимости */
  }
  .movie_card_swiper .swiper-slide {
    width: 200px !important; /* или через JS, как выше */
    /* Можно задать min-width / max-width по необходимости */
  }
  .video-card-preview-wrapper {
    aspect-ratio: 16 / 9;
    width: 200px;
  }
  .video-card-preview-wrapper-explorer {
    width: 100%;
  }
  .user-login__avatar-container {
    width: 100px;
    height: 100px;
  }
  .login-create-user {
    width: 100px;
    height: 100px;
  }
  .header-user__dropdown.under-avatar {
    padding: 32px;
    position: fixed !important;
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
    margin: 0;
    min-width: unset;
    width: 100vw;
    max-width: 100vw;
    border-radius: 32px 32px 0 0 !important;
    z-index: 99999999;

    animation: bottom-sheet-appear 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    overflow-y: auto;
  }
  .home-page-content {
    gap: 16px;
  }

  @keyframes bottom-sheet-appear {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
}
@media (max-width: 450px) {
  .continue-content-bottom {
    justify-content: center;
    text-align: center;
    align-items: center;

    margin-bottom: 40px;
  }
  .continue-content {
    justify-content: space-between;
  }
  .continue-sub_title {
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
  }
  .continue-title {
  }
  .continue-container {
    height: 440px;
  }
  .player-container {
    height: 440px;
  }
  @media (max-width: 530px) {
    /* .video-card-preview-wrapper {
      height: 100px;
    } */
  }
  .collection-container {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}
.video-js {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  min-height: 100%;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border: 4px solid var(--white-opacity-10);
  border-top: 4px solid var(--blue);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
