.ha-video-card-preview-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ha-video-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Затемнение */
.ha-video-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.996) 100%
  );
}

/* Контент карточки */
.ha-video-card-content {
  padding: 0px 16px;
  width: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ha-video-card-meta {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  gap: 6px;
}

.ha-video-card-title {
  font-size: clamp(14px, 2vw, 18px); /* Адаптивный шрифт */
  font-weight: bold;
  color: var(--white);
  max-width: 244px;

  display: -webkit-box;
  -webkit-line-clamp: 2; /* Ограничение в 2 строки */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ha-video-card-video-duration {
  color: var(--white);
  opacity: 50%;
  font-size: 14px;
}

.ha-video-card-container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  margin: 0;
  cursor: pointer;
}

.ha-video-card-container:hover {
  transition: ease 0.1s;
  border: 2px solid var(--disable);
}

/* При наведении на контейнер изменяем стили для картинки */
.ha-video-card-container:hover .video-card-preview-wrapper {
  transition: ease-in-out 0.1s;
  transform: scale(1.04);
}
.ha-preview-image {
  width: 100%;
}
