header {
  margin-top: 32px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.header-buttons {
  display: flex;
  gap: 16px;
}

.hdrezka-header-input-container {
  width: 400px;
  display: flex;
  align-items: center;
  position: relative;
}
.hdrezka-header-search-input {
  width: 100%;
  border: none;
  height: 40px;
  background-color: var(--white-opacity-5);
  border-radius: 16px;
  padding: 8px 16px 8px 48px;
  color: var(--white);
  font-size: 14px;
  outline: none;
  font-weight: 500;
  transition: 0.2s ease-in-out;
}
.hdrezka-header-search-input:focus {
  background: var(--white-opacity-10);
  transition: 0.2s ease-in-out;
}
.search-icon {
  position: absolute;
  left: 16px;
  margin-right: 16px;
  cursor: pointer;
}
.search-container {
  display: flex;
  gap: 8px;
  cursor: pointer;
  justify-content: space-between;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
}
.small-40-btn {
  width: 40px;
  height: 40px;
  background-color: var(--white-opacity-10);
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-top-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.header-container {
  width: 100%;
}

.header-bottom-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.search-suggestions {
  position: absolute;
  top: 48px;
  background-color: var(--white-opacity-5);
  backdrop-filter: blur(50px);

  width: 100%;
  padding: 8px 16px;
  overflow-y: auto;
  z-index: 10;
  margin-top: 4px;
  border-radius: 16px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.search-suggestions li {
  padding: 8px 12px;
  cursor: pointer;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 4px;
  transition: 0.1s ease-in-out;
}

.search-suggestions li:not(:last-child) {
  border-bottom: 1px solid var(--white-opacity-10);
}

.search-suggestions li:hover {
  background-color: var(--white-opacity-5);
  border-radius: 16px;
  padding: 8px 14px;
  transition: 0.1s ease-in-out;
}

.search-description {
  font-size: 12px;
  color: var(--white-gray);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.search-title {
  font-size: 14px;
  font-weight: 600;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header-user__container {
  position: relative;
}
.header-user__avatar-container {
  display: flex;
  width: 48px;
  height: 48px;
  border-radius: 32px;
}
.header-user__avatar {
  border-radius: 32px;
  border: 2px solid var(--white-opacity-70);
}

.dropdown-users-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 16px;
}

.dropdown-user {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 6px;
  transition: background 0.2s ease;
}

.dropdown-user:hover {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
}

.dropdown-user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.dropdown-button {
  background: none;
  border: none;
  color: white;
  text-align: left;
  padding: 8px;
  width: 100%;
  cursor: pointer;
  font-size: 14px;
}

.dropdown-button.logout {
  color: #f55;
}

.header-user__dropdown.under-avatar {
  position: absolute;
  top: calc(100% + 8px); /* нижче аватара */
  right: 0;
  background: var(--dark);
  border: 1px solid var(--white-opacity-30);
  border-radius: 12px;
  padding: 12px;
  z-index: 999;
  min-width: 220px;
}

.header-dropdown__user-name {
  color: var(--white);
}
