.login-container {
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-title {
  font-size: 32px;
  margin-bottom: 64px;
  margin-top: 64px;
  font-weight: 500;
}

.login-users-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}
.login-users-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 100vw;
  overflow-x: visible;
  padding-bottom: 24px;
}

.login-create-user {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  display: flex;
  transition: 0.1s ease-in;
  background-color: var(--white-opacity-10);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.1s ease-in;
}

.login-create-user:hover {
  transition: 0.1s ease-in;
  background-color: var(--white-opacity-20);
}
