.movie_card_swiper-container:not(:last-child) {
  /* border-bottom: 1px solid var(--white-opacity-5);
  padding-bottom: 20px; */
}
.explorer_watch-history {
  /* border-bottom: 1px solid var(--white-opacity-5);
  padding-bottom: 20px; */
}

.movie_card_swiper_title-container {
  display: flex;
  align-items: center;
  gap: 4px;
  text-align: center;
  height: 24px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  margin: 14px 0px;
}

.arrow-right-icon {
  color: #000;
  opacity: 1;
  transition: 0.2s ease-in-out;
}
/* .movie_card_swiper_title-container:hover .arrow-right-icon {
  transition: 0.2s ease-in-out;
  opacity: 1;
} */
