.movie_card_swiper-container:not(:last-of-type) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 24px;
}

.explorer_watch-history {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 24px;
}

.movie_card_swiper_title-container {
  display: flex;
  align-items: center;
  gap: 4px;
  text-align: center;
  height: 24px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  margin: 14px 0px;
}

.arrow-right-icon {
  color: #000;
  opacity: 1;
  transition: 0.2s ease-in-out;
}
/* .movie_card_swiper_title-container:hover .arrow-right-icon {
  transition: 0.2s ease-in-out;
  opacity: 1;
} */

.movie_card_swiper .swiper-slide {
  width: 300px !important; /* или через JS, как выше */
  /* Можно задать min-width / max-width по необходимости */
}
